{% extends 'layout.html' %} {% block title %}My Page{% endblock %} {% block head %} {% parent %}
<link rel="stylesheet" href="/css/index.css">
<script src="/scripts/index.js"></script> 
<script src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
<script src="/scripts/tag.es6"></script> 
{% endblock %} 
{% block content %}
<x-praise></x-praise>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/systemjs/0.21.3/system.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="/scripts/indexadd.js"></script>
<script>
    SystemJS.config({
        baseURL: '/scripts'
    });
    SystemJS.import('index.js').then(function (m) {
        $.extend({
            thumb: m.default
        });
        callBack();
    });

    function callBack() {
        var f = new $.thumb(0, $('#thumb'));
        f.clickAction();
    }
</script> {% endblock %}